.shoplist-container {
    max-width: 600px;
    width: 80vw;
}

.product-card.product-card {
    padding: 6px;
}

.add-product-card.add-product-card {
    cursor: pointer;
    &:hover {
        background-color: #fff;
    }
    & .add-button:hover {
        background-color: transparent;
    }
}

.product-name-strikeout {
    color: lightgray;
}