.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo.logo {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.userData {
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
}